<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/stylePokemon.css}"></link>
<title th:text="${#strings.capitalize(pokemon.name)}"></title>
</head>
<body>
	<div></div>
	<div class="container">
		<br> <a class="btn btn-secondary btn-lg active" role="button"
			aria-pressed="true" href="javascript: history.go(-1)">Volver</a> <br>
		<br>
		<div class="row ">
			<p class="h1 text-center"
				th:text="${#strings.capitalize(pokemon.name)+' # '+pokemon.id}"></p>
		</div>
		<div class="jumbotron jumbotron-fluid text-center">
			<div class="row">
				<div class="col-sm-2">
					<p class="h3">Sprites</p>

				</div>
			</div>
			<div class="row">



				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Default</h5>

						<img th:src="${pokemon.sprites.front_default}"></img> <img
							th:src="${pokemon.sprites.back_default}"></img>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Shiny</h5>
						<img th:src="${pokemon.sprites.front_shiny}"></img> <img
							th:src="${pokemon.sprites.back_shiny}"></img>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Weight</h5>
					<p class="card-text" th:text="${pokemon.weight/10+' kg' }"></p>

					<h5 class="card-title">Height</h5>
					<p class="card-text" th:text="${pokemon.height/10+' m' }"></p>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Types</h5>
					<div class="card-text">
						<ul th:each="tipo: ${pokemon.types}">
							<li th:if="${tipo.type.name == 'normal'}"
								class="type-icon type-normal"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'fire'}"
								class="type-icon type-fire"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'water'}"
								class="type-icon type-water"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'electric'}"
								class="type-icon type-electric"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'grass'}"
								class="type-icon type-grass"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'ice'}" class="type-icon type-ice"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'fighting'}"
								class="type-icon type-fighting"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'poison'}"
								class="type-icon type-poison"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'ground'}"
								class="type-icon type-ground"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'flying'}"
								class="type-icon type-flying"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'psychic'}"
								class="type-icon type-psychic"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'bug'}" class="type-icon type-bug"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'rock'}"
								class="type-icon type-rock"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'ghost'}"
								class="type-icon type-ghost"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'dragon'}"
								class="type-icon type-dragon"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'dark'}"
								class="type-icon type-dark"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'steel'}"
								class="type-icon type-steel"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>
							<li th:if="${tipo.type.name == 'fairy'}"
								class="type-icon type-fairy"
								th:text="${#strings.capitalize(tipo.type.name)}"></li>




						</ul>
					</div>

					<h5 class="card-title">Abilities</h5>
					<div class="card-text">
						<ul th:each="ability: ${pokemon.abilities}">
							<li th:if="${ability.is_hidden}"
								th:text="${#strings.capitalize(ability.ability.name)+' (Hidden)'}"></li>
							<li th:if="${ability.is_hidden != true}"
								th:text="${#strings.capitalize(ability.ability.name)}"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<br>

	<h2>Evolution Chain</h2>


	<div class="jumbotron jumbotron-fluid text-center">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<table>
					<thead>
						<tr>
							<th>Etapa 1</th>

							<th th:if="${!evolucion2.isEmpty()}">Etapa 2</th>

							<th th:if="${!evolucion3.isEmpty()}">Etapa 3</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div th:each="pokemon: ${evolucion1}">
									<img th:src="${pokemon.sprites.front_default}"></img>
									<p th:text="${#strings.capitalize(pokemon.name)}"></p>
								</div>
							</td>

							<td>
								<div th:each="pokemon: ${evolucion2}">
									<img th:src="@{/images/baseline_double_arrow_black_18dp.png}"></img>
									<img th:src="${pokemon.sprites.front_default}"></img>
									<p th:text="${#strings.capitalize(pokemon.name)}"></p>
								</div>
							</td>

							<td>
								<div th:each="pokemon: ${evolucion3}">
									<img th:src="@{/images/baseline_double_arrow_black_18dp.png}"></img>
									<img th:src="${pokemon.sprites.front_default}"></img>
									<p th:text="${#strings.capitalize(pokemon.name)}"></p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<h2>Description</h2>

	<div class="accordion" id="accordionExample">
		<div th:each="des: ${descripcion.flavor_text_entries}">
			<div class="card" th:if="${des.language.name == 'en'}">
				<div class="card-header" th:id="${des.version.name}">
					<h2 class="mb-0">
						<button th:text="${#strings.capitalize(des.version.name)}"
							class="btn btn-link btn-block text-left" type="button"
							data-toggle="collapse"
							th:data-target="'#'+${des.version.name}+'collapse'"
							aria-expanded="true"
							th:aria-controls="${des.version.name}+'collapse'"></button>
					</h2>
				</div>

				<div th:id="${des.version.name}+'collapse'" class="collapse show"
					th:aria-labelledby="${des.version.name}"
					data-parent="#accordionExample">
					<div class="card-body" th:text="${des.flavor_text}"></div>
				</div>
			</div>
		</div>
	</div>

	</div>
	<footer class="text-muted">
		<div class="container">
			<p>
				Pokedex built for challenge of Modjo by <a
					href="https://www.linkedin.com/in/humberto-gonz%C3%A1lez-alfaro-0ba31866/">Humberto
					González</a>.
			</p>
		</div>
	</footer>
</body>
</html>